:root {
    --nbar-font-size: 30px;
    --border-radius: 5px;
    --colorRed: rgb(150, 17, 7);
    --colorGreen: rgb(9, 125, 8);
    --colorBlue: rgb(129, 186, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
    color: white;
    padding: 25px 60px;
    margin-bottom: 10px;
}

.navbar h2 {
    font-family: Geneva, Tahoma, sans-serif;
    font-size: var(--nbar-font-size);
}

.ing-span {
    color: rgb(153, 229, 169);
    text-shadow: 1px 1px salmon;
}

.cloth-span {
    color: var(--colorBlue);
    text-shadow: 1px 1px greenyellow;
}

.cart {
    background-color: #fff;
    color: #212529;
    font-size: var(--nbar-font-size);
    padding: 1px 5px ;

    border-radius: var(--border-radius);
    position: relative;

}

svg{
    cursor:pointer;
}

a{
    text-decoration: none;
    color: white;
}

.cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: rgb(255, 120, 61);
    color: white;
    padding: 3px;
    border-radius: var(--border-radius);

}

.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.item {
    border: 2px solid #212529;
    border-radius: var(--border-radius);
    box-shadow: 6px 3px 10px var(--colorBlue);
}

.item img {
    width: 100%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
    
}

.details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
align-items: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;

}

.bi-dash-lg{
    color: var(--colorRed);
}
.bi-plus-lg{
    color: var(--colorGreen);
}

svg.bi-dash-lg:active{
stroke: red;
}

svg.bi-plus-lg:active{
   stroke: green;
}

svg.bi-cart2:hover{
    stroke: rgba(0,0,0,0.5);
}

@media (max-width:1000px){
    .shop{
        grid-template-columns:repeat(2,223px);
    }}
@media (max-width:500px){
    .shop{
        grid-template-columns:repeat(1,223px);
    }
}

/**
*Style for cart.html
*/

.text-center{
    margin-top: 120px;
    text-align: center;
    margin-bottom: 20px;
}
.HomeBtn , .checkout , .removeAll{
    background-color: #252529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: var(--border-radius);
    cursor: pointer;
    margin-top: 10px;
}

.checkout{
    background-color:green ;
}
.removeAll{
    background-color: var(--colorRed);
}

.bi-x-lg{
    color: var(--colorRed);
    font-weight: bold;
}

.shopping-cart{
    display: grid;
    grid-template-columns: repeat(1,320px);
    justify-content: center;
    gap: 15px;
}

.cart-item{
    border: 2px solid #212529;
    border-radius: var(--border-radius);
    display: flex;
}

.cart-item  img{
    width: 35%;
    border-radius: var(--border-radius) 0  0 var(--border-radius);
}
.title-price-x{
    width: 195px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-price{
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item-price{
    background-color: #212529;
    color: white;
    border-radius: var(--border-radius);
    padding: 3px 6px;
}

